.menu {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if needed */
    gap: 20px;
    /* Space between the items */
    justify-content: space-between;
    /* Distribute items evenly */
    padding: 5vh 3vw;
    padding-bottom: 20px;
}

/* Each individual menu item */
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 45%;
    /* Make each item take up 45% of the width to fit two side by side */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-image {
    width: 100%;
    height: 40vh;
    border-radius: 8px;
    object-fit: cover;
}

.food-details {
    margin-top: 16px;
}

.food-name {
    font-size: 1.2em;
    margin: 10px 0;
}

.food-price {
    color: var(--ultraViolet);
    font-weight: bold;
    margin-bottom: 5px;
}

.food-description,
.restaurant-name {
    font-size: 0.9em;
    color: #555;
}
.add-to-cart, .decrease {
    color: #45a049;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.decrease{
    color: crimson;
}

.cart-counter {
    margin-left: 10px;
    font-size: 1.1em;
    color: #555;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-top: 10px;
}

@media (max-width:600px) {
    .menu {
        padding: 0 6vw;
        padding-bottom: 20px;
    }
    .menu-item{
        width: 100%
    }
    .food-image {
        height: 35vh;
    }
}